# Logs
logs
*.log
npm-debug.log*

# Documentation
docs
*.md

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Dist folder (code after build)
dist

# Git file
.git*

# Docker file
*Dockerfile*
*docker-compose*

.idea
build