.showcase {
  position: relative;
  min-height: 500px;
  background-image: linear-gradient(0deg, rgba(73, 95, 140, .6) 0%, rgba(242, 92, 5, 0.3) 100%), url(../../images/showcase.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hahahaha{
  color: #F25C05;
}
.showcase-slogan {
  position: absolute;
  bottom: 5%;
  padding-left: 5%;
  color :white;
}
.fa-ruler, .fa-venus-mars,.fa-map-marker-alt,.fa-house-user,.fa-bed, .fa-box, .fa-bicycle, .fa-dumpster-fire, .fa-utensils, .fa-columns, .fa-shower, .fa-wifi, .fa{
  color:#495F8C;
  margin-right: 10px;
  margin-bottom: 5px;
}
.showcase-share {
  padding-top: 100px;
}
span{
  text-indent: 10px;
}

.card{
  border-radius: 30px;
}
.card-header{
    border-top-left-radius: 30px !important;
    border-top-right-radius: 30px !important;

}
.card-header>span {
  font-size: 24px;

}
.room-preview:hover {
  text-decoration: none;
  transform: scale(1.01);
}
.card-header span{
  font-weight: 600;
  font-size: 22px;
  text-align: left;
  color: #495f8c;

}
img.room-thumbnail {
  width: 100%;
  height: 150px;
  max-height: 150px;
  border-radius: 18px;
  object-fit: cover;
  -webkit-box-shadow: 18px 20px 15px -15px rgba(0,0,0,0.2);
  -moz-box-shadow: 18px 20px 15px -15px rgba(0,0,0,0.2);
  box-shadow: 18px 20px 15px -15px rgba(0,0,0,0.2);
  opacity: 0.9;
}
img.shared-room {
  height: 100px;
  max-height: 100px;
}
/*SEARCH BAR*/
#search-box{
  padding-left:0;
  position:relative;
  opacity: 70%;
  transition: all 0.7s;
}
#search-box:hover{
  opacity:100%;
  transform: 1.01;
}
#search-box input{

  width:100%;
  border:0;
  height:60px;
  border-radius:30px;
  outline:none;
  padding-left:60px;
  line-height:61px;
  box-shadow:12px 12px 30px 0 rgba(77,77,119,.10);
  font-weight:500;
  color:#8ba2ad;
}
#search-box input::-webkit-input-placeholder{font-weight:500;
  color:#c5d3de;
  font-size:14px;
}
#search-box input::-moz-placeholder{font-weight:500;
  color:#c5d3de;
  font-size:14px;
}
#search-box input::-ms-input-placeholder{font-weight:500;
  color:#c5d3de;
  font-size:14px;
}
#search-box input::-moz-placeholder{font-weight:500;
  color:#c5d3de;
  font-size:14px;
}
#search-box .fa-map-marker-alt {
  position:absolute;
  top:19px;
  left:22px;
  font-size:23px;
  color:#dcdee0;
}
.fa-search{
  margin: 0 auto;
}
#search-box .inline-search{position:absolute;
  top:10px;
  right:25px;
}
#search-box .inline-search #search-btn{background-image:linear-gradient(to right,#F25C05,#F29F05);
  border:0;
  transition:background-size .2s ease-in-out,.2s box-shadow ease-in-out,.2s filter,.3s opacity;
  color:#fff;
  height:40px;
  width:40px;
  font-size:14px;
  border-radius:50px;
  outline:none !important;
  line-height:40px;
  cursor:pointer;
  box-shadow:3px 4px 31px 0 rgba(253, 165, 93, 0.54);
  margin-left:2px;
  -webkit-transition:all 0.2s ease-in-out;
  -moz-transition:all 0.2s ease-in-out;
  -o-transition:all 0.2s ease-in-out;
  -ms-transition:all 0.2s ease-in-out;
}
#search-box .inline-search #search-btn:hover{background-size:175% 100%;
  color:#fff;
  outline:none;
  transition:background-size .2s ease-in-out,.2s box-shadow ease-in-out,.2s filter,.3s opacity;
}
#search-box .inline-search #transfer-btn{background-image:linear-gradient(to right,#5c5cfd,#d65ffd);
  border:0;
  color:#fff;
  height:40px;
  width:40px;
  font-size:14px;
  border-radius:50px;
  outline:none !important;
  line-height:40px;
  cursor:pointer;
  box-shadow:3px 4px 31px 0 rgba(149, 94, 253, 0.45);
  -webkit-transition:all 0.2s ease-in-out;
  -moz-transition:all 0.2s ease-in-out;
  -o-transition:all 0.2s ease-in-out;
  -ms-transition:all 0.2s ease-in-out;
  transition:all 0.2s ease-in-out;
}
#search-box .inline-search #transfer-btn:hover{background-size:175% 100%;
  color:#fff;
  outline:none;
  transition:background-size .2s ease-in-out,.2s box-shadow ease-in-out,.2s filter,.3s opacity;
}
img.thumbnail {
  max-height: 150px;
  border-radius: 8px;
  object-fit: cover;
}
.card-footer{
  margin: 0 auto;
  padding: 0px;
  border-top: 0px;
  background-color:white;
}