$fogo-color: #F25C05;
$main-color: #4877F8;
$icon-color: #495F8C;

.bg-fogo {
  background-color: $fogo-color;
}
.text-fogo {
  color: #F25C05;
}
.text-main {
  color: $main-color;
}
.text-icon {
  color: $icon-color;
}
